footer {
  background: var(--color-bg);
  padding: 40px 50px;
  margin-top: auto; 
}


.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-primary);
  text-transform: uppercase;
  letter-spacing: 1px;
  max-height: 50px;
}

.footer-links {
  list-style: none;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.footer-links li a {
  text-decoration: none;
  color: var(--color-text-soft);
  transition: 0.3s;
  position: relative;
  padding: 3px 0;
}


.footer-links li a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background: var(--color-primary);
  left: 0;
  bottom: 0;
  transition: 0.3s;
}

.footer-links li a:hover::after {
  width: 100%;
}

.footer-links li a:hover {
  color: var(--color-primary);
}


.footer-bottom {
  margin-top: 30px;
  text-align: center;
  font-size: 0.9rem;
  color: var(--color-text-muted);
}


@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-links {
    justify-content: center;
  }
}
