nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: var(--color-bg);
  box-shadow: 0 4px 10px var(--color-shadow);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 95%;
    position: fixed;
}

.logo {
  margin-right: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-primary);
  text-transform: uppercase;
  letter-spacing: 1px;

  max-height: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

ul.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

ul.nav-links li a {
  text-decoration: none;
  color: var(--color-text-soft);
  font-weight: 500;
  position: relative;
  padding: 5px 0;
  transition: 0.3s;
}


ul.nav-links li a:hover {
  color: var(--color-primary);
}

ul.nav-links li a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background: var(--color-primary);
  left: 0;
  bottom: 0;
  transition: 0.3s;
}

ul.nav-links li a:hover::after {
  width: 100%;
}

ul.nav-links li a:hover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--color-primary-hover);
  opacity: 0.2;
  border-radius: 5px;
  top: 0;
  left: 0;
  z-index: -1;
}


@media (max-width: 768px) {
  nav {
    flex-direction: column;
    padding: 15px 20px;
  }

  ul.nav-links {
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
  }
}
